h1 {
    color: black;
    text-align: center;
}
h2 {  color: black;
    text-align: center;
}
p { color: black;
	text-align: center;
}
h3 {
    color: black;
    text-align: center;
}
body{ 
	background-image: url(http://www.newdesignfile.com/postpic/2009/05/professional-headshot-backdrop_128454.jpg);
	text-align:center;
}





